@font-face {
    font-family: rare;
    src: url('fonts/A Cut Above The Rest.ttf');
}

* {
    color: rgb(15, 15, 15);
}

body {
    font-family: rare;
}

header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: rare;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: rgb(136, 185, 22);
  }

h1 {
    font-size: 300%;
    color: rgb(136, 185, 22);
}

p {
    font-size: 200%;
    color: black;
}

a {
    font-size: 200%;
    color: rgb(0, 68, 255);
}